@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import "_variables";
@import "_partials";
@import "_mixins";

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    @extend %extra-spacing;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(252, 228, 252);
    color: $dark-purple;
}

header {
    background-color: $dark-purple;
    @extend %flex-center;
    padding: 10px;
    position: relative;

    img {
        position: absolute;
        top: (width/2) - 15px;
        left: 3%;

        @include small-laptop {
            width: 45px;
            height: 45px;
        }

        @include desktop {
            width: 60px;
            height: 60px;
        }
    }

    #logo {
        @extend %flex-text-center;
        font-size: 20px;
        &-left{
            color: $pink1;
        }
        &-right{
            color: $pink2;
        }
    }

    h1 {
        font-family: 'Tangerine', cursive;
        @extend %extra-spacing;

        @include tablet {
            font-size: 4rem;
        }  

        @include small-laptop {
            font-size: 5rem;
        }

        @include desktop {
            font-size: 7rem;
        }
    }   
}

main {
    overflow-x: auto;

    #product {
        margin: 1rem auto;
        font-size: $small-font;
        text-align: center;

        @include tablet {
            font-size: 1.5 * $small-font;
        }  

        @include small-laptop {
            font-size: 2 * $small-font;
        }
        
        @include desktop {
            font-size: 3 * $small-font;
        }

        h2 {
            font-weight: bold;
            font-style: italic;
        }

        h2, h4 {
            @extend %extra-spacing;
            text-shadow: 0 1px 1px $pink1;
        }
    }

    #product-info {
        @extend %flex-column;
        border-top: 2px solid $dark-purple;
        padding: 3px;

        @include small-laptop {
            display: grid;
            grid-template-columns: 1fr 1fr;          
            align-items: flex-start;
            padding: 5vh 3vw;
        }

        @include large-laptop {
            padding: 5vh 12vw;
        }
    }

    #product-details {
        @extend %flex-column;
        padding: 5px;

        @include small-laptop {
            margin: 10vh auto;
        }
    }

    #color-selecton label {
        font-size: $small-font;

        @include tablet {
            font-size: 1.5 * $small-font;
        }  

        @include small-laptop {
            font-size: 2 * $small-font;
        }

        @include desktop {
            font-size: 3 * $small-font;
        }
    }

    #color-options {
        border: 1px solid $dark-purple;
        border-radius: 10%;
        font-size: $smaller-font;
        cursor: pointer;
        color: $dark-purple;

        @include tablet {
            font-size: 1.5 * $smaller-font;
        }  

        @include small-laptop {
            font-size: 2 * $smaller-font;
        }

        @include desktop {
            font-size: 3 * $smaller-font;
        }
    }

    #selection-details {
       @extend %flex-column;
       flex-wrap: wrap;
       text-align: center;

       h5, h6, span {
            @extend %extra-spacing; 
       }

       h5 {
           margin-top: 0.5rem;
           font-size: $std-size;

           @include tablet {
            font-size: 1.5 * $std-size;
            }     

            @include small-laptop {
                font-size: 2 * $std-size;
            }

            @include desktop {
                font-size: 3 * $std-size;
            }
       }

       span, h6 {
           font-size: $smaller-font;  

           @include tablet {
               font-size: 1.5 * $smaller-font;
           }   
           
           @include small-laptop {
            font-size: 2 * $smaller-font;
           }

           @include desktop {
            font-size: 3 * $smaller-font;
           }
       }
    }

    #carousel {
        margin: 10px auto;
        padding-bottom: 5rem;
        @extend %flex-column;
        position: relative;

        @include small-laptop {
            padding-bottom: 8rem;
        }

        img {
            position: relative;
            max-width: 50vw;
            max-height: 50vh;
            z-index: -1;

            @include tablet {
                max-width: 60vw;
                max-height: 60vh;
            }  

            @include small-laptop {
                max-width: 50vw;
                max-height: 50vh;
            }

            @include small-laptop {
                max-width: 60vw;
                max-height: 60vh;
            }
        }

        button {
            position: absolute;  
            top: 25%;
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: white;
            text-shadow: 1px 1px 1px $dark-purple;
            font-weight: bold;
            font-size: 1.1rem;

            @include tablet {
                top: 35%;
                font-size: 1.5rem;
            }

            @include small-laptop {
                font-size: 1.8rem;
            }

            @include large-laptop {
                font-size: 2.2rem;
            }

            @include desktop {
                font-size: 4.5rem;
            }
        }

        .backward {
            left: 0;
        }

        .forward {
            right: 0;
        }

        .spans-wrapper {
            position: absolute;
            top: 3%;
            height: 8px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        span {
            width: 5px;
            height: 5px;
            border: 1px solid #ccc;
            background-color: white;
            border-radius: 50%;

            @include tablet {
                width: 0.5rem;
                height: 0.5rem;
            }

            @include small-laptop {
                width: 0.7rem;
                height: 0.7rem;
            }

            @include desktop {
                width: 1rem;
                height: 1rem;
            }
        }

        .indicator {
            margin-right: 0.5rem;

            @include desktop {
                margin-right: 1rem;
            }
        }

        .active {
            background-color: rgb(48, 47, 47);
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $dark-purple;
    padding: 10px;
    font-size: $smaller-font;

    @include tablet {
        font-size: 1.1 * $smaller-font;
    }  

    @include small-laptop {
        font-size: 1.2 * $smaller-font;
        
        nav {
            display: flex;
            justify-content: center;
        }

        a:hover::after {
            color: $pink1;
        }

        a::after {
            content: "|";
            margin: 10px;
        }
    }

    @include desktop {
        font-size: 1.8 * $smaller-font;
    }

    a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $pink1;
        cursor: pointer;
        &:hover {
            color: $pink2;
        }
    }
}
